<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Delete Assignment?</title>
</head>
<body>
    <h1>Delete Assignment?</h1>

    <p>Are you sure you want to delete this assignment?</p>

    <p><label> Name: </label> {{assignment.name}}</p>

    <a href="/api/assignments/{{id}}/delete-confirmation">Yes, delete this assignment</a>
    <a href="/">Back to list of assignments</a>
    
</body>
</html>